$primary-color: #090718;
$secondary-color: #282C3E;
$cta-color: #8A6CB6;
$middle-grey: #A6A8B5;

*,html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $secondary-color;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
}

// Visually hidden för att dölja visuellt men fungerar för skärmläsare.
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

header {
    background-color: $primary-color;
    .wrapper {
        display: flex;
        @media (min-width:768px) {
            justify-content: space-between;
            padding: 0 2rem;
        }
        @media (min-width:1200px) {
            max-width: 1200px;
            margin: auto;
        }
        .main-menu {
            flex: 0 0 80%;
            @media (min-width:768px) {
                flex: initial; //För att få bort att den tar upp 80%
                display: flex;
                align-items: center;
            }
            .menu-logo {
                padding-top: .2rem;
                display: none;
                @media (min-width:768px) {
                    display: block;
                    margin-right: 2rem;
                }
                .icon {
                color: $cta-color;
                font-size: 2rem;
                }
            }
            .menu-list {
                list-style: none;
                display: flex;
                .menu-item {
                    flex: 1 1 auto;
                    display: flex;
                    @media (min-width:768px) {
                        margin-right: 2rem;
                    }
                    .menu-link {
                        flex: 1 1 auto;
                        text-align: center;
                        padding: 1.1rem 0;
                        @media (min-width:768px){
                            border-top: 5px solid transparent;
                            border-bottom: 5px solid transparent;
                        }
                        .menu-text {
                            display: none;
                            @media (min-width:768px){
                                display: block; //Ta fram text
                            }
                        }
                        &.active {
                            background-color: $cta-color;
                            @media (min-width:768px){
                                background-color: transparent;
                                // För att dölja bg-färg på aktiv menyflik.
                                border-bottom: 5px solid $cta-color;
                            }
                            .menu-icon {
                                color: white;
                            }
                        }
                        .menu-icon {
                            color: $cta-color;
                            font-size: 1.8rem;
                            @media (min-width:768px){
                                display: none; //Ta bort ikon
                            }
                        }
                    } 
                }
            }
        }    
        .right-nav {
            background-color: #221C36;
            flex: 0 0 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (min-width:768px) {
                flex: initial; //För att få bort att den tar upp 80%
                background-color: transparent;
            }
            img {
                width: 42px;
                border-radius: 50px;
                display: block;
                // Jag föredrar att styla bilden med rundning i kod för att enklare byta bild, ta bort rundning etc. Har sparat ut x2 därav width på bilden.
            }
            .search-form {
                position: relative;
                padding-right: 2.5rem;
                display: none;
                @media (min-width:1200px) {
                    display: block;
                }
                .btn-search {
                    position: absolute;
                    top: .5rem;
                    left: 1rem;
                    background-color: transparent;
                    cursor: pointer;
                    border: none;
                    .icon-search {
                        color: $middle-grey;
                        font-size: 1.8rem;
                    }
                }
                #q {
                    width: 290px;
                    height: 42px;
                    padding-left: 3.2rem;
                    padding-top: .4rem;
                    border-radius: 10px;
                    border: 1px solid transparent;
                    background-color: $secondary-color;
                    &::placeholder {
                        font-family: "Rubik", sans-serif;
                        font-size: 1.2rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        color: $middle-grey;
                    }
                }
            }
        }    
    }
}


